@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Navbar*/
nav {
  width: 100%;
  padding: 5px 0 8px 10px;
  font-size: 20px;
  background-image: linear-gradient(#9d2316, #D2691E);
  border-radius: 0 0 4px 4px;
  color: #ddd;
  /*Menu desplegable para Mobile*/
}
nav img {
  width: 64px;
  margin: 4px 0;
}
nav img:hover {
  filter: drop-shadow(0 0 5px #D2691E);
}
nav ul {
  display: none;
}
nav ul li {
  width: 240px;
  height: 30px; /* El width y height que tengan un espacio fijo y no se rompa al aplicarse el hover*/
  margin: 2px;
  text-align: center;
}
nav ul li a {
  color: inherit;
  letter-spacing: 2px;
  transition: font-size 500ms, text-shadow 500ms;
}
nav ul li a:hover {
  font-size: 21px;
  text-shadow: 0 0 8px #fff;
}
nav .material-symbols-outlined, nav .navbar-button {
  position: absolute;
  font-size: 28px;
  right: 10px;
  top: 28px;
  height: 20px;
  width: 35px;
}
nav .navbar-button {
  opacity: 0;
}
nav .navbar-button:checked ~ ul {
  display: flex;
  width: 100dvw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
nav .navbar-button:checked ~ a img {
  display: none;
}

/*General*/
main {
  min-height: 100vh;
}
main h1, main h2 {
  margin: 0 5px;
  margin-top: 30px;
  padding: 8px 12px;
  background-color: #D2691E;
  border-radius: 10px;
  text-wrap: balance;
}
main p {
  margin: 5px 2px 2px 10px;
  padding: 5px;
}

/*Main Index Menú*/
.carousel-item {
  max-height: 600px;
}

.container_menu .menu {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
}
.container_menu .menu .card img {
  height: 400px;
  object-fit: cover;
  animation: opacidad both alternate;
  animation-timeline: view();
  animation-range-end: 30%;
}

/*Main Tips*/
section {
  padding: 15px;
  margin: 50px auto;
  border-radius: 20px;
}
section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section article .article .huevo, section article .article .carne {
  background-color: yellow;
  padding: 5px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  margin: 10px 5px 2px 5px;
}
section article .article .carne {
  background-color: red;
}
section article .img-tip {
  max-width: 400px;
  margin: 20px;
}

/*Main sobre nosotros*/
.container_cards {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

/*Main Preguntas Frecuentes*/
.fondo {
  background-image: url(../imagenes/ilustrativo/Fondo.jpeg);
  background-size: cover;
}

.container_main {
  margin: 20px 8px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
}
.container_main .accordion .accordion-item {
  margin: 10px;
}
.container_main .accordion .accordion-item .accordion-header {
  background-color: inherit;
}
.container_main .form-preguntas {
  margin-top: 65px;
}

/*Estilos Main Carrito*/
.container_carrito {
  margin: 8px 16px;
}
.container_carrito form {
  min-width: 300px;
  max-width: 1400px;
  padding: 20px 30px 70px 30px;
  margin: auto;
  margin-top: 90px;
  border-radius: 18px;
  background-color: #f0f0f0;
}

@keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  font-size: 14px;
  text-align: center;
  background-color: #ad3610;
  color: #fff;
  height: 60px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .navbar-collapse {
    display: flex;
  }
  .navbar-collapse .navbar-button, .navbar-collapse .material-symbols-outlined {
    display: none;
  }
  .navbar-collapse ul {
    margin: 5px 0 0 10px;
    flex-grow: 1;
    display: grid;
    justify-content: start;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  /* En caso de que se expanda la pantalla con checkbox checked se adapta automaticamente cerrandose el menu desplegable. */
  /*No se por que esto no funciona. Si saben que es lo que no funciona, agredezco una correcion y explicacion gracias*/
  .navbar-button:checked ~ a img {
    display: block;
    padding: 3px;
  }
  .navbar-button:checked ~ ul {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  /* Main de Sobre nosotros */
  .container_cards {
    margin: 20px;
  }
  /*Main tips*/
  section {
    width: clamp(500px, 95vw, 900px);
    background-color: #f0f0f0;
  }
  section article {
    flex-direction: row;
  }
  section article .article {
    flex-grow: 2;
  }
  section article .img-tip {
    flex-grow: 1;
    width: clamp(240px, 50vw, 400px);
  }
}
@media (min-width: 1080px) {
  .navbar-collapse {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .navbar-collapse ul {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-grow: 1;
    margin: auto;
  }
  /* Se acomoda el deplegable a la resolucion 1080px si se mantiene checkbox checked */
  /*TAMPOCO FUNCIONA REVISION*/
  .navbar-button:checked ~ ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin: auto;
  }
  /*Main general*/
  body {
    background-image: url(../imagenes/ilustrativo/Fondo.jpeg);
    background-size: cover;
  }
  /*Main Index*/
  .container_menu {
    width: clamp(920px, 80vw, 1600px);
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
  }
  .carousel-item {
    max-height: 800px;
  }
  /* Main de Sobre nosotros */
  .card {
    align-self: self-start;
  }
  .card-2 {
    align-self: self-end;
  }
  /*Main Preguntas Frecuentes*/
  .container_main {
    background-color: #f0f0f0;
    max-width: 1000px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 15px;
  }
  /*Main tips*/
  section {
    width: clamp(500px, 80vw, 1100px);
  }
}

/*# sourceMappingURL=style.css.map */
