@use "../utilidades/variables";
@use "../utilidades/mixins";

 /*General*/
main{
    min-height: 100vh;
    h1, h2{
        margin: 0 5px;
        margin-top: 30px;
        padding: 8px 12px;
        background-color: variables.$color-principal;
        border-radius: 10px;
        text-wrap: balance;
    }
    p{
        margin: 5px 2px 2px 10px;
        padding: 5px;
    }
}

/*Main Index Menú*/
.carousel-item{
    max-height: 600px;
}
.container_menu{
    .menu{
    margin-top: 40px;
    @include mixins.grid(center, center, repeat(auto-fit, 300px));
    gap: 20px;
    .card{
        img{
            height: 400px;
            object-fit: cover;
        }
    }
    }
}

/*Main Tips*/
section{
    background-color: variables.$color-main;
    padding: 40px;
    margin: 50px auto;
    border-radius: 20px;
    article{
        @include mixins.flex(center, center);
        flex-direction: column;
        .article{
            .huevo{
                background-color: yellow;
                padding: 5px;
                width: 200px;
                text-align: center;
                border-radius: 10px;
                margin: 10px 5px 2px 5px;
                }
            .carne{
                @extend .huevo;
                background-color: red;
            }
        }
        .img-tip{
            max-width: 400px;
            margin: 20px;
        }
    } 
}
/*Main sobre nosotros*/
.container_cards{
    @include mixins.flex (start, center);
    flex-direction: column;
    gap: 40px;
}

/*Main Preguntas Frecuentes*/
.container_main{
    margin: 20px 8px;
    padding: 10px;
    .accordion{
        .accordion-item{
            margin: 10px;
            .accordion-header{
                background-color: inherit;
            }
        }
    }
    .form-preguntas{
        margin-top: 65px;
    }
}

/*Estilos Main Carrito*/
.container_carrito{
    margin: 8px 16px;
    form{
    min-width: 300px;
    max-width: 1400px;
    padding: 20px 30px 70px 30px;
    margin: auto;
    margin-top: 90px;
    border-radius: 18px;
    background-color: #f0f0f0;
    }
}