/*Estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos Barra de navegacion*/
nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding:  5px 0 8px 10px;
    font-size: 20px;
    background-color: #9d2316;
    border-radius: 0 0 8px 8px;
    color: #ddd;
}
nav img{
    width: 64px;
}
nav img:hover{
    filter: drop-shadow(0 0 5px chocolate);
}
ul {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style-type: none;
    margin: auto;
}

li{
    width: 120px; /*Para que no se modifique el tamaño*/
}
ul li a{
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
    transition: font-size 500ms, text-shadow 500ms;
}

ul li a:hover{
    font-size: 21px;
    text-shadow: 0 0 8px #fff;
}
.carousel-item{
    max-height: 700px;
}
.carousel-item img{
    width: 2560px;
    height: 1440px;
}

/*Estilos del Body*/
body{
    background-color: #f6f6f6;
}