
/*Reset Basico CSS*/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/*Estilos generales*/
body{
    background-color: #33c;
}


/*Estilos barra de navegacion*/


nav {
    text-align: center;
    margin: 25px;
    
}
nav a{ /*Les doy a los enlaces forma de boton*/
    padding: 8px;
    font-size: 22px;
    margin: 0 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: #ccc;
}

/*Estilo cotenido Main*/
main{
    background-color: whitesmoke;
    height: 2160px; /*Hago que el contenido Main ocupe mas pantalla para el footer quede abajo. Si se achica mucho la pantalla se rompe.*/
}
h1{
    font-size: 50px;
    border-bottom: 4px solid #33c;
    width: 45vw;
    padding-top: 15px;
    margin: 20px auto;
    text-align: center;
}
h2{
    margin: 10px;
    font-size: 30px;
}
p{
    font-size: 18px;
    margin: 5px;
}
.contenedor{
    text-align: center;
    margin: 20px;
}
.contenedor li{
    padding: 5px;
    font-size: 20px;
}
img{
    width: 600px;
    height: 500px;
}

/*Formularios y Log-in*/

.ingreso{
    border: 2px solid black;
    padding: 35px 0;
    text-align: center;
    width: 550px;
    margin: 250px auto;
    font-weight: bold;
    background-color: #99f;
}
form{
    padding: 40px;
    font-size: 20px;
}
fieldset{
    margin: 25px 0;
    padding: 30px;
}
input{
    font-size: 16px;
    margin: 20px 0;
    padding: 2px;
}
.boton{
    text-align: center;
}
button{
    margin-top: 20px;
    padding: 15px 30px;
    font-weight: bold;
}
summary{
    text-align: center;
    font-size: 28px;
    width: 300px;
    margin: auto;
    padding: 20px;
    list-style: disc;
}
summary + p{
    font-size: 20px;
    text-align: center;
}

/*Pie de Pagina*/

footer{
    text-align: center;
    margin-top: 15px; /*para centrar de forma vertical el contenido del footer*/
}
footer a {
    font-size: 18px;
    padding: 30px 40px 20px 40px;
    color: white;
    font-weight: bolder;
}